<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8mw0OMFP4wcmgcFqNeSMxuQwhe6Vz1jk</string>
	<key>GCM_SENDER_ID</key>
	<string>944110984728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aigam.shop</string>
	<key>PROJECT_ID</key>
	<string>aigam-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>aigam-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944110984728:ios:5c7b7289202209cd70ed6d</string>
</dict>
</plist>